* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #06376c, #161616, #292929, #06376c);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
} */

input {
    outline: none;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(135deg, #06376c, #161616, #292929, #06376c);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.login-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
    color: #fff;
}

.login-box {
    background-color: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

.form-group {
    margin-bottom: 1.5rem;
}

.form-group label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
    color: #000;
}

.form-group input {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
}

.submit-button {
    width: 100%;
    padding: 0.75rem;
    border: none;
    border-radius: 4px;
    background-color: #28a745;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 1rem;
}

.submit-button:hover {
    background-color: #218838;
}

.toggle-register {
    background: none;
    border: none;
    color: #007bff;
    cursor: pointer;
    text-align: center;
    margin-bottom: 1rem;
}

.toggle-register:hover {
    text-decoration: underline;
}

.google-login-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #fff;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    color: #000;
    transition: background-color 0.3s ease;
}

.google-login-button:hover {
    background-color: #f4f4f4;
}

.google-logo {
    width: 20px;
    height: 20px;
    margin-right: 0.5rem;
}