* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #06376c, #161616, #292929, #06376c);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
} */

input {
    outline: none;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    /* background: linear-gradient(135deg, #06376c, #161616, #292929, #06376c); */
    background: rgba(31, 31, 33, 1);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.login-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
    color: #fff;
}

.login-box {
    padding: 2rem;
    border-radius: 8px;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #171616;
    border-top: 2px solid rgba(245, 157, 8, 1);
    border-bottom: 2px solid rgba(245, 157, 8, 1);
}

.form-group {
    margin-bottom: 1.5rem;
}

.form-group label {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 0.5rem;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
}

.form-group input {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #fff;
    border-radius: 17px;
    background-color: #222222;
    font-size: 1rem;
    color: #fff;
}

.form-group input::placeholder {
    color: #fff;
}

.submit-button {
    width: 100%;
    padding: 0.75rem;
    border: none;
    border-radius: 4px;
    background-color: rgba(245, 157, 8, 1);
    box-shadow: 2px 4px 0px rgba(245, 158, 8, 0.681);
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    margin-bottom: 1rem;
}

.submit-button:hover {
    transform: scale(1.03);
    box-shadow: 2px 2px 0px rgba(245, 158, 8, 0.681);
}

.toggle-register {
    font-size: 15px;
    background: none;
    border: none;
    color: #007bff;
    color: #fff;
    cursor: pointer;
    text-align: center;
    margin-bottom: 1rem;
}

.toggle-register:hover {
    text-decoration: underline;
}

.google-login-button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: bold;
    padding: 10px 15px;
    border: 2px solid rgba(245, 157, 8, 1);
    box-shadow: 2px 4px 0px rgba(245, 158, 8, 0.681);
    background-color: transparent;
    background-color: #1c1c1c;
    border-radius: 8px;
    color: rgba(245, 157, 8, 1);
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
}

.google-login-button:hover {
    transform: scale(1.03);
    box-shadow: 2px 2px 0px rgba(245, 158, 8, 0.681);
}
