.cartContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: #fff;
	margin-top: 2%;
}

.title {
	width: 82%;
	text-align: left;
	font-size: 2.5rem;
	font-family: "Oswald", sans-serif;
	font-weight: bold;
	margin-bottom: 1rem;
}

.containerCarritoVacio {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.emptyCart {
	font-size: 3rem;
}

.buttonSeguirCompra {
	width: 50%;
	font-size: 1rem;
	font-weight: bold;
	text-align: center;
	padding: 0.75rem;
	border: none;
	border-radius: 4px;
	background-color: rgba(245, 157, 8, 1);
	box-shadow: 2px 4px 0px rgba(245, 158, 8, 0.681);
	color: #000;
	cursor: pointer;
	transition: 0.3s;
}

.buttonSeguirCompra:hover {
	transform: scale(1.03);
	box-shadow: 2px 2px 0px rgba(245, 158, 8, 0.681);
}

.linkLogin {
	color: rgba(245, 157, 8, 1);
}

.textLink {
	text-align: center;
	line-height: 30px;
	margin-top: 30px;
}

.cartItems {
	width: 79%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 20px;
	background-color: #141313;
	border-bottom: 2px solid rgba(245, 157, 8, 1);
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	border-radius: 7px;
}

.cartItem {
	width: 100%;
	display: flex;
}

.info {
	width: 50%;
	display: flex;
	gap: 20px;
	/* background-color: red; */
}

.infoProduct {
	font-size: 25px;
	font-weight: bold;
}

.image {
	width: 20%;
	height: auto;
	border-radius: 7px;
}

.containerButtonsCarrito {
	width: 50%;
	display: flex;
	justify-content: end;
	align-items: center;
	gap: 20px;
	/* background-color: blue; */
}

.buttonComprar {
	font-size: 1rem;
	font-weight: bold;
	padding: 10px 15px;
	border: 2px solid rgba(245, 157, 8, 1);
	box-shadow: 2px 4px 0px rgba(245, 158, 8, 0.681);
	background-color: #F59D08;
	border-radius: 8px;
	color: rgba(245, 157, 8, 1);
	color: #fff;
	cursor: pointer;
	transition: 0.3s;
}

.buttonComprar:hover {
	transform: scale(1.03);
	box-shadow: 2px 2px 0px rgba(245, 158, 8, 0.681);
}

.removeButton {
	font-size: 1rem;
	font-weight: bold;
	padding: 10px 15px;
	border: 2px solid rgba(245, 157, 8, 1);
	box-shadow: 2px 4px 0px rgba(245, 158, 8, 0.681);
	background-color: transparent;
	background-color: #1c1c1c;
	border-radius: 8px;
	color: rgba(245, 157, 8, 1);
	color: #fff;
	cursor: pointer;
	transition: 0.3s;
}

.removeButton:hover {
	transform: scale(1.03);
	box-shadow: 2px 2px 0px rgba(245, 158, 8, 0.681);
}

.containerTotal {
	width: 82%;
	text-align: end;
	margin-top: 1.2rem;
}

.totalText {
	font-size: 25px;
	font-weight: bold;
}
