.card {
	width: 80%;
	height: 460px;
	padding: 1rem;
	border-top: 2px solid rgba(245, 157, 8, 1);
	border-bottom: 2px solid rgba(245, 157, 8, 1);
	border-radius: 7px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	transition: box-shadow 0.3s ease;
	background-color: #1e1e1e;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	transition: 0.3s;
}

@media screen and (max-width: 1340px) {
	.card {
		width: 75%;
		height: 480px;
	}
}

@media screen and (max-width: 1186px) {
	.interacciones {
		width: 100%;
		height: 70px;
	}
}

@media screen and (max-width: 963px) {
	.card {
		width: 200px;
		height: 460px;
	}
}

.card:hover {
	transform: scale(1.03);
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.containerImage {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 1rem;
}

.image {
	width: 100%;
	height: 280px;
	border-radius: 5px;
}

.containerDetallesProducto {
	text-align: left;
}

.name {
	font-size: 1.1rem;
	font-weight: bold;
	margin: 0 0 0.5rem 0;
	color: #fff;
}

.price {
	font-size: 1.5rem;
	font-weight: bold;
	color: rgba(245, 157, 8, 1);
	margin: 0;
}

.description {
	font-size: 0.9rem;
	color: rgba(245, 157, 8, 1);
	margin: 0;
}

.containerGeneralButtons {
	margin-top: auto;
}

.containerButtonInteracciones {
	display: flex;
	justify-content: center;
	align-items: center;
}

.interacciones {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	width: 100%;
	border: none;
	border-radius: 4px;
	background-color: rgba(245, 157, 8, 1);
	box-shadow: 2px 4px 0px rgba(245, 158, 8, 0.681);
	color: #fff;
	font-size: 1rem;
	font-weight: bold;
	cursor: pointer;
	transition: 0.3s;
}

.interaccionesDelete {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	width: 100%;
	border: none;
	border-radius: 4px;
	background-color: rgb(0, 0, 0);
	box-shadow: 2px 4px 0px rgba(245, 158, 8, 0.681);
	color: #fff;
	font-size: 1rem;
	font-weight: bold;
	cursor: pointer;
	transition: 0.3s;
}

.interacciones:hover {
	transform: scale(1.03);
	box-shadow: 2px 2px 0px rgba(245, 158, 8, 0.681);
}

.textAdd {
	margin-left: 10px;
}

.feedbackMessage {
	position: absolute;
	top: -10px;
	left: 50%;
	transform: translateX(-50%);
	background-color: rgba(245, 157, 8, 1);
	color: #fff;
	padding: 5px 10px;
	border-radius: 5px;
	font-size: 14px;
	animation: fadeInOut 2s ease-in-out;
}

@keyframes fadeInOut {
	0% {
		opacity: 0;
	}

	20% {
		opacity: 1;
	}

	80% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}